<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="coffee_cup_with_rim_assy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="8.25395049664379E-34 0.047683574004455 -4.1649396282296E-18"
        rpy="0 0 0" />
      <mass
        value="0.141210670413946" />
      <inertia
        ixx="0.000242955809953546"
        ixy="-7.49890402206841E-36"
        ixz="8.93705046710747E-37"
        iyy="0.000171461781291528"
        iyz="3.69144749802216E-20"
        izz="0.000242955809953546" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://coffee_cup_with_rim_assy/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://coffee_cup_with_rim_assy/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>