<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Milk_machine_assy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.117493375959365 0.170081926042026 -0.349306580182574"
        rpy="0 0 0" />
      <mass
        value="196.719280448039" />
      <inertia
        ixx="10.9047983834829"
        ixy="-0.000173747806704131"
        ixz="1.98731841028144"
        iyy="14.3555027199727"
        iyz="5.58297579669745E-05"
        izz="11.909381250812" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Milk_machine_assy/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 1 1 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Milk_machine_assy/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>