<?xml version="1.0" encoding="utf-8"?>
<!-- This URDF was automatically created by SolidWorks to URDF Exporter! Originally created by Stephen Brawner (brawner@gmail.com) 
     Commit Version: 1.6.0-4-g7f85cfe  Build Version: 1.6.7995.38578
     For more information, please see http://wiki.ros.org/sw_urdf_exporter -->
<robot
  name="Coffee__machine_assy">
  <link
    name="base_link">
    <inertial>
      <origin
        xyz="0.0686788407133772 0.179709212416737 -0.349357133702957"
        rpy="0 0 0" />
      <mass
        value="196.780003604201" />
      <inertia
        ixx="10.9084622309325"
        ixy="0.000940711330911594"
        ixz="1.99180122224893"
        iyy="14.3695375409471"
        iyz="-0.000340793781251164"
        izz="11.9236874360928" />
    </inertial>
    <visual>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Coffee__machine_assy/meshes/base_link.STL" />
      </geometry>
      <material
        name="">
        <color
          rgba="1 0.690196078431373 0.509803921568627 1" />
      </material>
    </visual>
    <collision>
      <origin
        xyz="0 0 0"
        rpy="0 0 0" />
      <geometry>
        <mesh
          filename="package://Coffee__machine_assy/meshes/base_link.STL" />
      </geometry>
    </collision>
  </link>
</robot>